
a{
  font-weight: normal;
   color: #11999e;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
     margin: 20px 10px;

}

a:hover{
  color: #eaf6f6;
}


.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


.btn {
  background: #11cdd4;
  background:  -webkit-gradient(top, #11cdd4, #11999e);
  background:  -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background:  -webkit-gradient(top,  #30e3cb, #2bc4ad);
  background:  -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}







.bottom-cloud {

  position: absolute;
  left: 300px;
  bottom: 300px;
}

.code-skill-description{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;

}

.copyright{
  color: #eaf6f6;
  font-size: 1rem;
  padding: 20px 0;
}

hr{

  border: dotted #66bfbf 6px;
  border-bottom: none;
margin: 100px auto;
  width: 4%;

}
h1 {
    font-size: 5rem;
  margin-top: 50px auto 0 auto;

  font-family: 'Sacramento', cursive;
  color: #66bfbf;
}

h2 {
font-size: 1.5rem;
 font-weight: normal;
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

img{
  margin-top: 20px;

}
.mypic{
  width: 200px;
   height: 200px;
}

.middle-container{
  margin: 100px 0;
}

.pro {
  font-family: 'Lo1ster', cursive;

}

p{

  font-size: 20px;
}



.skill1{


width: 25%;
float: left;
margin-right: 35px;

}

.skill2{
  width: 25%;
  float: right;
  margin-right: 35px;
}

.skill-row{

  margin-top: 20px;
  width: 50%;
  margin: 150px auto 150px auto;
text-align: left;

}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
